#fotoCurriculo{
    padding: 1.3% 0;
    max-width: 100%;
}
#curriculoDownload{
    padding: 10px;
    border-radius: 15px;
    color: #000;
    background-color: #FFF;
    text-decoration: none;
}
#curriculoDownload:hover{
    opacity: 50%;
    transition: 0.4s;
}