#contatosContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 9% 10% 15.5%
}
#contatosContainer div{
    background-color: #FFF;
    min-width: 21vw;
    padding: 10px 0.1vw;
    min-height: 300px;
    max-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#contatosContainer img {
    max-height: 50%;
    max-width: 50%;
    margin: 0 auto;
}
#contatosContainer a{
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}
#contatosContainer a:hover{
    opacity: 50%;
    transition: 0.4s;
}
#contatosContainer .fotoContato{
    max-width: 8vw;
}
#contatosContainer a{
    margin: 0 auto;
}
.nomeRede{
    color: black;
    font-size: 2.2vw;
    margin-bottom: 15px;
}
.nickRede{
    color: black;
    font-size: 1.4vw;
    margin: 10px 0;
}

@media (max-width: 768px) {
    #contatosContainer{
        display: block;
    }
    #contatosContainer div{
        max-width: 40%;
        margin-bottom: 20px;
        min-width: 30vw;
    }
}