@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    #gitDiv{
    margin: 0 auto;
    min-width: 50vw;
}

#gitDiv p{
    font-size: 3.5vw;
    margin: 10px 0;
}
#gitFoto{
    border-radius: 500%;
    max-width: 23%;
}
#gitDiv p{
    color:#FFF,
}