@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --azul:#0D8BD9;
}

#container{
    margin: 0 auto;
    display: flex;
    background-color: var(--azul);
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}
#containerSon{
    display: flex;
    gap: 2vw;
}
p{
    color: white;
    font-size: 1vw;
}
#home{
    font-size: 2.5vw;
}

/*
#container{
    display: flex;
    justify-items: end;
    justify-content: space-between;
    padding: 1% 10%;
    background-color: #2562A9;
    gap: 0;
}
#containerSon{
    display: flex;
    justify-items: end;
    justify-content: space-around;
    gap: 1.3vw;
}
p{
    font-size: 1.2vw;
    cursor: pointer;
    color: white;
}
#home{
    font-size: 2.5vw;
}/*
#containerMobilie{
    background-color: #2562A9;
}
#containerMobilie{
    padding: 25px 5%;
}
@media (max-width:768px) {
    #container{
        display: none;
    }
}
@media (min-width:768px){
    #containerMobilie{
        display: none;
    }
}

#menuBotao{
    border-radius: 0;
}
*/